<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Secure Send</title>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <!-- UDフォント-->>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap">

  <style>
    body {
      background-color: #f4f6f8;
      font-family: "BIZ UDGothic", sans-serif;
    }
  </style>
</head>
<body>

<div class="container py-2 w-50">
    
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <img
        src="{{ url_for('static', filename='img/app_logo.png') }}"
        alt="Secure Send"
        height="100">
    </div>
  </div>

  <div class="container d-flex align-items-center justify-content-center">
    <div class="card shadow-sm" style="width: 100%;">
      <div class="card-body p-4">

        <!-- Header -->
        <div class="mb-4">
          <h1 class="h5 fw-bold mb-2">
            {{ upload_request.title or "ダウンロード" }}
          </h1>
          <p class="text-muted small mb-0">
            有効期限：{{ download_request.expires_at | datetime }}
            <br/> 
            ダウンロード回数：{{ download_request.max_downloads }}回
          </p>
        </div>

        {% if files %}
          <!-- ダウンロード説明 -->
          <p class="mb-3">
            個別にダウンロードする場合は、各ファイルの右端のアイコンをクリックしてください。<br>
            まとめてダウンロードする場合は、「ZIPで一括ダウンロード」ボタンをクリックしてください。
          </p>
          <div class="table-responsive border rounded">
            <table class="table table-striped align-middle mb-0">
              <thead class="table-light">
                <tr>
                  <th>ファイル名</th>
                  <th style="width: 120px;">サイズ</th>
                  <th style="width: 60px;"></th>
                </tr>
                </thead>
                <tbody>
                {% for f in files %}
                <tr>
                  <td>
                    <div>{{ f.original_name }}</div>
                  </td>
                  <td>
                    <div>{{ f.file_size | filesize }}</div>
                  </td>
                  <td class="text-end">
                    <a
                        href="{{ url_for(
                        'guest.guest_download_file',
                        token=download_request.download_token,
                        file_id=f.file_id
                        ) }}">
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                        <polyline points="7 10 12 15 17 10"></polyline>
                        <line x1="12" y1="15" x2="12" y2="3"></line>
                      </svg>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-end my-3">
            <a
              href="{{ url_for('guest.guest_download_zip', token=download_request.download_token) }}"
              class="btn btn-primary btn-sm">
              ZIPで一括ダウンロード
            </a>
          </div>
          
        {% else %}
          <div class="alert alert-secondary text-center small mb-0">
          ダウンロード可能なファイルはありません。
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
</body>
</html>
